{% extends 'base.html' %}
{% load i18n static tags cache %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                  <h1 class="Middle-title">{% trans 'Goods comparison' %}</h1>
                  <ul class="breadcrumbs Middle-breadcrumbs">
                      <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a></li>
                      <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Goods comparison' %}</span></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <article class="Article">
                    <p>{% trans 'Diverse and rich experience continuous quantitative growth and scope of our activity provides a wide range of (specialists) participation in the formation of the training system personnel, meets the urgent needs. Ideological considerations of a higher order, as well as consultation with a broad asset require the definition and clarification of the appropriate conditions of activation.' %}</p>
                </article>
                {% cache cache_settings.comparison_life_time comparison cache_key LANGUAGE_CODE %}
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            {% for category_name in comp_items.keys %}
                                <a class="Tabs-link_ACTIVE Tabs-link" for="{% transliterate category_name %}" href="#{% transliterate category_name %}">
                                    <span>{{ category_name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="Tabs-wrap">
                            {% for category_name, goods in comp_items.items %}
                                <div class="Compare Tabs-block" id="{% transliterate category_name %}">
                                    <div class="Compare-header">
                                        <label class="toggle Compare-checkDifferent">
                                            <input type="checkbox" name="differentFeature" value="true"/>
                                            <span class="toggle-box"></span>
                                            <span class="toggle-text">{% trans 'Only differs' %}</span>
                                        </label>
                                    </div>

                                    <div class="Compare-row">
                                        <div class="Compare-title Compare-title_blank"></div>
                                        <div class="Compare-products">
                                        {% for good in goods %}
                                            <div class="Compare-product" column_id="{{ forloop.counter }}">
                                                <div class="Compare-nameProduct Compare-nameProduct_main">
                                                    <a href="{% url 'prod_detail' good.id %}">{{ good.name}}</a>
                                                </div>
                                                <div class="Compare-feature">
                                                    <img class="Compare-pict" src="{% static '/img/content/home/card.jpg' %}" alt="card.jpg"/>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>

                                    <div class="Compare-row">
                                        <div class="Compare-title Compare-title_blank"></div>
                                        <div class="Compare-products">
                                            {% for good in goods %}
                                                <div class="Compare-product" column_id="{{ forloop.counter }}">
                                                    <div class="Compare-feature">
                                                        <form action="{% url 'basket_add_item' %}" method="post" class="basket-form__add">
                                                            <input type="hidden" name="data-id" value="{{ good.balance_id }}">
                                                            <a class="Card-btn submitter" href="#">
                                                                <img src="{% static 'img/icons/card/cart.svg' %}" alt="{% static 'img/icons/card/cart.svg' %}"/>
                                                            </a>
                                                        </form>
                                                        <form action="{% url 'comparison_remove' %}" method="post" class="comparison-form__remove">
                                                            <input type="hidden" name="good_id" value="{{ good.id }}">
                                                            <a class="Card-btn submitter" href="#">
                                                                <img src="{% static 'img/icons/card/change.svg' %}" alt="{% static 'img/icons/card/change.svg' %}"/>
                                                            </a>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="Compare-row Compare-row_hide">
                                        <div class="Compare-title">{% trans 'Rating' %}</div>
                                        <div class="Compare-products">
                                        {% with goods.0.rating as row_rating %}
                                            {% for good in goods %}
                                                <div class="Compare-product" column_id="{{ forloop.counter }}">
                                                    <div class="Compare-feature" {% if row_rating != good.rating %}differ{% endif %}>
                                                        <div class="Rating">
                                                            <div class="Rating-stars">{% rating good.rating  %}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endwith %}
                                        </div>
                                    </div>

                                    {% for feature in features|get:category_name %}
                                        <div class="Compare-row Compare-row_hide">
                                            <div class="Compare-title">{{ feature }}</div>
                                            <div class="Compare-products">
                                            {% with goods.0.features|get:feature as feature_row_value %}
                                                {% for good in goods %}
                                                    {% with good.features|get:feature as feature_value %}
                                                        <div class="Compare-product" column_id="{{ forloop.counter }}">
                                                            <div class="Compare-feature" {% if feature_row_value != feature_value %}differ{% endif %}>
                                                                {{ good.features|get:feature }}
                                                            </div>
                                                        </div>
                                                    {% endwith %}
                                                {% endfor %}
                                            {% endwith %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="Compare-row Compare-row_hide">
                                        <div class="Compare-title">{% trans 'Price' %}</div>
                                        <div class="Compare-products">
                                        {% with goods.0.price as row_price %}
                                            {% for good in goods %}
                                                <div class="Compare-product" column_id="{{ forloop.counter }}">
                                                    <div class="Compare-feature" {% if row_price != good.price %}differ{% endif %}>
                                                        <strong class="Compare-price">&#8381;{{ good.price }}</strong>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endwith %}
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endcache %}
            </div>
        </div>
    </div>
{% endblock content %}