{% load static i18n %}

{% block content %}
    <header class="Section-header">
        <strong class="Section-title">{% trans 'Follow Us' %}</strong>
    </header>
    <div class="Section-columnContent">
        <div class="Footer-payments Footer-payments_column">
            <div>
                <img src="{% static '/img/icons/socialContent/fb.png' %}" alt="fb.png"/>
            </div>
            <div>
                <img src="{% static '/img/icons/socialContent/tw.png' %}" alt="tw.png"/>
            </div>
            <div>
                <img src="{% static '/img/icons/socialContent/gg.png' %}" alt="gg.png"/>
            </div>
            <div>
                <img src="{% static '/img/icons/socialContent/in.png' %}" alt="in.png"/>
            </div>
            <div>
                <img src="{% static '/img/icons/socialContent/pt.png' %}" alt="pt.png"/>
            </div>
            <div>
                <img src="{% static '/img/icons/socialContent/ml.png' %}" alt="ml.png"/>
            </div>
        </div>
    </div>
{% endblock %}