{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% trans 'Orders history' %}
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'main' %}">{% trans 'Home' %}</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Orders history' %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">

            {% include 'profiles/navigation.html' %}
            <div class="Section-content">
                <div class="Orders">
                    {% for order in orders %}
                    <div class="Order Order_anons">
                        <div class="Order-personal">
                            <div class="row">
                                <div class="row-block">
                                    <a class="Order-title" href="{% url 'order_detail' order.pk %}">
                                        {% trans 'Order' %}&#32;
                                        <span class="Order-numberOrder">№{{ order.pk }}</span>
                                        &#32;{% trans 'from' %}&#32;
                                        <span class="Order-dateOrder">{{ order.date_time }}</span>
                                    </a>
                                </div>
                                <div class="row-block">
                                    <div class="Order-info Order-info_delivery">
                                        <div class="Order-infoType">{% trans 'Delivery type' %}:</div>
                                        <div class="Order-infoContent">{{ order.delivery.name }}</div>
                                    </div>
                                    <div class="Order-info Order-info_pay">
                                        <div class="Order-infoType">{% trans 'Payment' %}:</div>
                                        <div class="Order-infoContent">{{ order.payment.name }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Total sum' %}:</div>
                                        <div class="Order-infoContent">
                                            <span class="Order-price">{{ order.total_sum }}</span>
                                        </div>
                                    </div>
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoType">{% trans 'Status' %}:</div>
                                        {% if order.payment_state %}
                                            <div class="Order-infoContent">{% trans 'Paid' %}</div>
                                        {% else %}
                                            <a class="Order-infoContent" href="{% url 'order_payment' order.pk %}">
                                                {% trans 'Not paid' %}
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoType"></div>
                                    </div>

                                    {% if order.payment_errors %}
                                        <div class="Order-info Order-info_error">
                                            <div class="Order-infoType">{% trans 'Payment failed' %}:</div>
                                            <div class="Order-infoContent">{{ order.payment_errors }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}