{% extends 'base.html' %}
{% load i18n cache static humanize catalog_tags %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% trans 'Catalog' %} Megano</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a></li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Catalog' %}</span></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{% trans 'Filter' %}</strong>
                    </header>
                    <div class="Section-columnContent">
                        <form class="form" action="" method="get">
                            <div class="form-group">
                                <div class="range Section-columnRange">
                                    {{ filterset.form.price }}
                                    <div class="range-price">Price:&#32;
                                        <div class="rangePrice"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ filterset.form.name }}
                            </div>

                            <div class="form-group">
                                <label class="toggle">
                                    <input type="checkbox" name="on_balance" value="1"/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">{{ filterset.form.on_balance.label }}</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="buttons">
                                    <button type="submit" class="btn btn_square btn_dark btn_narrow">{% trans 'Filter' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <div class="Cards">
                    {% for good_id, good in goods.items %}
                        <div class="Card">
                            <a class="Card-picture" href="#">
                                <img src="{% static 'img/content/home/card.jpg' %}" alt="card.jpg"/>
                            </a>
                            <div class="Card-content">
                                <strong class="Card-title">
                                    <a href="{% url 'prod_detail' good_id %}">{{ good.name }}</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost">
                                        <span class="Card-price">&#8381;{{ good.price|intcomma }}</span>
                                    </div>
                                    <div class="Card-category">{{ good.category__name }}</div>
                                    <div class="Card-hover">
                                        <a class="Card-btn" href="#">
                                            <img src="{% static 'img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/>
                                        </a>
                                        <form action="{% url 'basket_add_item' %}" method="post" class="basket-form__add">
                                            {% csrf_token %}
                                            <input type="hidden" name="data-id" value="{{ good.balance_id }}">
                                            <a class="Card-btn submitter" href="#">
                                                <img src="{% static 'img/icons/card/cart.svg' %}" alt="cart.svg"/>
                                            </a>
                                        </form>
                                        <form action="{% url 'comparison_add' %}" method="post" class="comparison-form__add">
                                            <input type="hidden" name="good_id" value="{{ good.id }}">
                                            <a class="Card-btn submitter" href="#">
                                                <img src="{% static 'img/icons/card/change.svg' %}" alt="{% static 'img/icons/card/change.svg' %}"/>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if is_paginated %}
                    <div class="Pagination">
                        <div class="Pagination-ins">
                            {% if page_obj.has_previous %}
                                <a class="Pagination-element Pagination-element_prev" href="?{% param_replace page=page_obj.previous_page_number %}">
                                    <img src={% static "/img/icons/prevPagination.svg" %} alt="prevPagination"/>
                                </a>
                            {% endif %}
                            {% if page_obj.has_previous %}
                                {% if page_obj.number >= 3 and page_obj.paginator.num_pages >= 3 %}
                                    <a class="Pagination-element" href="?{% param_replace page=page_obj.number|add:-2 %}">
                                        <span class="Pagination-text">{{ page_obj.number|add:-2 }}</span>
                                    </a>
                                {% endif %}
                                <a class="Pagination-element" href="?{% param_replace page=page_obj.previous_page_number %}">
                                    <span class="Pagination-text">{{ page_obj.previous_page_number }}</span>
                                </a>
                            {% endif %}
                            <a class="Pagination-element Pagination-element_current" href="#">
                                <span class="Pagination-text">{{ page_obj.number }}</span>
                            </a>
                            {% if page_obj.has_next %}
                                <a class="Pagination-element" href="?{% param_replace page=page_obj.next_page_number %}">
                                    <span class="Pagination-text">{{ page_obj.next_page_number }}</span>
                                </a>
                            {% endif %}
                            {% if page_obj.has_next %}
                                {% if page_obj.number == 1 and page_obj.paginator.num_pages >= 3 %}
                                    <a class="Pagination-element" href="?{% param_replace page=3 %}">
                                        <span class="Pagination-text">3</span>
                                    </a>
                                {% endif %}
                                <a class="Pagination-element Pagination-element_prev" href="?{% param_replace page=page_obj.next_page_number %}">
                                    <img src={% static "/img/icons/nextPagination.svg" %} alt="nextPagination"/>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}