{% extends 'base.html' %}
{% load i18n cache static %}

{% block csrf %}{% csrf_token %}{% endblock %}

{% block content %}

    <div class="Section">
        <div class="wrap">
            <div class="Section-content">
                <header class="Section-header">
                    <h2 class="Section-title">{% trans 'Basket' %}</h2>
                </header>
            </div>

            {% if items %}
                {% cache cache_settings.basket_life_time basket cache_key LANGUAGE_CODE %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">{% trans 'Item name' %}</th>
                                <th scope="col">{% trans 'Price' %}</th>
                                <th scope="col">{% trans 'Seller' %}</th>
                                <th scope="col">{% trans 'Quantity' %}</th>
                                <th scope="col" colspan="2">{% trans 'Sum' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="#">
                                {% for item in items %}
                                    <tr class="basket-item-row" prefix="{{ item.form.prefix }}">
                                        <td><a href="{% url 'prod_detail' item.good_id %}">{{ item.name }}</a></td>
                                        <td class="text-right">&#8381;<span class="basket-item__price">{{ item.price|floatformat:2 }}</span></td>
                                        <td>{{ item.form.seller }}</td>
                                        <td>
                                            {{ item.form.quantity }}
                                            <div class="note note-red">
                                                {% trans 'Available to order' %}: <span class="basket-item__available">{{ item.available }}</span>
                                            </div>
                                        </td>
                                        <td class="text-right">&#8381;<span class="basket-item__sum">{{ item.total_price|floatformat:2 }}</span></td>
                                        <td class="text-center">
                                            {{ item.form.reservation_id }}
                                            <button type="button" id="{{ item.form.prefix }}-delete_button" class="btn btn_danger btn_round delete-row" url="{% url 'basket_delete_item' %}">{% trans 'Delete' %}</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {{ items_formset.management_form }}
                            </form>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" class="font-weight-bold">{% trans 'Total' %}</th>
                                <th class="text-right font-weight-bold basket__total-sum" colspan="2">
                                    &#8381;{{ total_sum|floatformat:2 }}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <a href="{% url 'order_create' %}" class="btn btn_round btn_success">{% trans 'Order' %}</a>
                {% endcache %}
            {% else %}
                <p>{% trans 'Your basket is empty!' %}</p>
            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {

            $('.basket-item-row').formset({
                addCssClass: null,
                prefix: PREFIX,
                beforeRemove: basketDeleteItem,
            });
        })
    </script>
{% endblock %}
