{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    › {% trans 'Object generation' %}
</div>
{% endblock %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}
<h1>
    {% trans 'Object generation' %}
</h1>
<div id="content-main">
    <div class="module">
        <h2>
            {% trans 'Orders' %}
        </h2>
        <p class="description">
            {% trans 'You can use this button to generate orders with some goods' %}
        </p>
        <a href="{% url 'admin:generate_orders' %}" class="addlink">{% trans 'Generate orders' %}</a>
    </div>

    <div class="module">
        <h2>
            {% trans 'Sellers' %}
        </h2>
        <p class="description">
            {% trans 'You can use this button to generate sellers by themselves' %}
        </p>
        <a href="{% url 'admin:generate_sellers' %}" class="addlink">{% trans 'Generate sellers' %}</a>
    </div>

    <div class="module">
        <h2>
            {% trans 'Goods' %}
        </h2>
        <p class="description">
            {% trans 'You can use this button to generate goods by themselves' %}
        </p>
        <a href="{% url 'admin:generate_goods' %}" class="addlink">{% trans 'Generate goods' %}</a>
    </div>

    <div class="module">
        <h2>
            {% trans 'Balances' %}
        </h2>
        <p class="description">
            {% trans 'You can use this button to generate sellers, goods and balances for them' %}
        </p>
        <a href="{% url 'admin:generate_balances' %}" class="addlink">{% trans 'Generate balances' %}</a>
    </div>
</div>
{% endblock %}