{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">{% trans 'Order' %}</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a></li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Order' %}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnRight Section_columnWide Order">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{% trans 'Filling progress' %}</strong>
                        </header>
                        <div class="Section-columnContent">
                            <ul class="menu menu_vt Order-navigate">
                                {% for step in order_steps %}
                                    <li class="menu-item {% if step.is_current %} menu-item_ACTIVE {% endif %}">
                                        {% if step.url %}
                                            <a href="{{ step.url }}" class="menu-link">{{ step.name }}</a>
                                        {% else %}
                                            <span class="menu-text">{{ step.name }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="Section-content">
                    {% include form_template %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
