{% load i18n %}

<form action="#" method="post" class="form">
    {% csrf_token %}

    <div class="Order-block Order-block_OPEN">
        <header class="Section-header Section-header_sm">
            <h2 class="Section-title">{{ step_name }}</h2>
        </header>
        <div class="form-group">
            {% for method in form.payment %}
                <div>
                    <label class="toggle">
                        <input type="radio" name="{{ form.payment.name }}" value="{{ method.data.value }}"/>
                        <span class="toggle-box"></span>
                        <span class="toggle-text">{{ method.data.label }}</span>
                    </label>
                </div>
            {% endfor %}
            <small id="{{ form.payment.id_for_label }}" class="text-muted">
                {{ form.payment.help_text }}
                {% if form.payment.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.payment.errors.as_text }}
                    </div>
                {% endif %}
            </small>
        </div>
        <div class="Order-footer">
            <button type="submit" class="btn btn_success">{% trans 'Next' %}</button>
        </div>
    </div>
</form>