{% load i18n %}

<form action="#" method="post" class="form">
    {% csrf_token %}

    <div class="Order-block Order-block_OPEN">
        <header class="Section-header Section-header_sm">
            <h2 class="Section-title">{{ step_name }}</h2>
        </header>
        <div class="row">
            <div class="row-block">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors.as_text }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label}}</label>
                    {{ form.first_name }}
                    <small id="{{ form.first_name.id_for_label }}" class="text-muted">
                        {{ form.first_name.help_text }}
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.first_name.errors.as_text }}
                            </div>
                        {% endif %}
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label}}</label>
                    {{ form.last_name }}
                    <small id="{{ form.last_name.id_for_label }}" class="text-muted">
                        {{ form.last_name.help_text }}
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.last_name.errors.as_text }}
                            </div>
                        {% endif %}
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{ form.patronymic.id_for_label }}">{{ form.patronymic.label}}</label>
                    {{ form.patronymic }}
                    <small id="{{ form.patronymic.id_for_label }}" class="text-muted">
                        {{ form.patronymic.help_text }}
                        {% if form.patronymic.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.patronymic.errors.as_text }}
                            </div>
                        {% endif %}
                    </small>
                </div>
                {% if form.username %}
                    <div class="form-group">
                        <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label}}</label>
                        {{ form.username }}
                        <small id="{{ form.username.id_for_label }}" class="text-muted">
                            {{ form.username.help_text }}
                            {% if form.username.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.username.errors.as_text }}
                                </div>
                            {% endif %}
                        </small>
                    </div>
                {% endif %}
            </div>
            <div class="row-block">
                <div class="form-group">
                    <label class="form-label" for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label}}</label>
                    {{ form.phone_number }}
                    <small id="{{ form.phone_number.id_for_label }}" class="text-muted">
                        {{ form.phone_number.help_text }}
                        {% if form.phone_number.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.phone_number.errors.as_text }}
                            </div>
                        {% endif %}
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label}}</label>
                    {{ form.email }}
                    <small id="{{ form.email.id_for_label }}" class="text-muted">
                        {{ form.email.help_text }}
                        {% if form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.email.errors.as_text }}
                            </div>
                        {% endif %}
                    </small>
                </div>

                {% if form.password1 %}
                <div class="form-group">
                    <label class="form-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label}}</label>
                    {{ form.password1 }}
                    <small id="{{ form.password1.id_for_label }}" class="text-muted">
                        {{ form.password1.help_text }}
                        {% if form.password1.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.password1.errors.as_text }}
                            </div>
                        {% endif %}
                    </small>
                </div>
                {% endif %}

                {% if form.password2 %}
                <div class="form-group">
                    <label class="form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label}}</label>
                    {{ form.password2 }}
                    <small id="{{ form.password2.id_for_label }}" class="text-muted">
                        {{ form.password2.help_text }}
                        {% if form.password2.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.password2.errors.as_text }}
                            </div>
                        {% endif %}
                    </small>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="Order-footer">
            <button type="submit" class="btn btn_success">{% trans 'Next' %}</button>
        </div>
    </div>
</form>