{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                  <h1 class="Middle-title">{% trans 'Import data' %}</h1>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <form action="{% url 'import_data' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="mt0">{{ form.as_table }}</table>
                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                        </div>
                        <div class="Cart-block">
                            <button type="submit" class="btn btn_primary btn_lg" href="#">{% trans 'Upload' %}</button>
                        </div>
                    </div>
                </form>

                <div id="tasks" check_url="{% url 'task_check' %}">
                    <table >
                        <thead>
                            <tr>
                                <td>{% trans 'Date, time' %}</td>
                                <td>{% trans 'Success' %}</td>
                                <td>{% trans 'Total objects' %}</td>
                                <td>{% trans 'Created' %}</td>
                                <td>{% trans 'Updated' %}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in import_tasks %}
                                <tr class="task__row {% if not task.result %}in_progress{% endif %}" uuid="{{ task.uuid }}">
                                    <td>
                                        {{ task.date|date:"Y-m-d H:i:s" }}
                                        {% if not task.result %}
                                            <div class="task__in-progress">{% trans 'In progress' %}</div>
                                        {% endif %}
                                    </td>
                                    <td>{{ task.result.success }}</td>
                                    <td>{{ task.result.total }}</td>
                                    <td>{{ task.result.created }}</td>
                                    <td>{{ task.result.updated }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        function check_state(check_url, uuid) {
            ajax(check_url, {uuid: uuid}, responseBasketChangeItemSeller);
        }
        let check_url = $('#tasks').attr('check_url');

        $('.task__row.in_progress').each(function() {
            let el = $(this);
            let checker = setInterval(check_state, 1000, check_url, el.attr('uuid'));
        //    let executor = setInterval(function () {
        //        clearInterval(generator);
        //        let value = $place.text();
        //        if (value.length < stringLength)
        //            generator = setInterval(randomSign, 1, $place, value);
        //        else {
        //            clearInterval(executor);
        //            $input.val($place.text());
        //        }
        //    }, interval);

        });
    </script>
{% endblock %}