{% extends "admin/forms/generate_form_base.html" %}
{% load i18n %}

{% block content %}
    <h1>
        {% trans 'Balances generation' %}
    </h1>

    <form action="{% url 'admin:generate_balances' %}" method="post" id="generatingForm">
        {% csrf_token %}
        <div class="form-row">
            {{ form.single_choice.label }}
            {{ form.single_choice }}
        </div>
        <div class="form-row">
            {{ form.balances_quantity.label }}
            {{ form.balances_quantity }}
        </div>
        <div class="submit-row">
            <button type="submit" class="button">{% trans 'Generate' %}</button>
        </div>
    </form>
{% endblock %}