{% extends "admin/forms/generate_form_base.html" %}
{% load i18n %}

{% block content %}
    <h1>
        {% trans 'Orders generation' %}
    </h1>
    <form action="{% url 'admin:generate_orders' %}" method="post" id="generatingForm">
        {% csrf_token %}
        <div class="form-row">
            {{ form.quantity.label }}
            {{ form.quantity }}
        </div>
        <div class="submit-row">
            <button type="submit" class="button">{% trans 'Generate' %}</button>
        </div>
    </form>
{% endblock %}